h1 {
  text-align: center;
}
body {
    background-color: #000000;
    text-align: left;
    font-family: arial;
}
a:link {
  color: cyan; !important
      text-decoration: none;
}
/* Might change later, for now this is how I plan it to be. */
