body {
    background-color: #000000; !important
    text-align: center; !important
    font-family: arial; !important
}
a:link {
  color: cyan; !important
      text-decoration: none;
}
 /*somehow the webpage doesnt recognize the css so im on an adventure to fix it lol*/
